.login-box {
    min-height:35rem;
}

.login-container {
    margin: auto;
    width: 30rem;
    height: max-content;
    padding: 1rem;
    text-align: center;
    justify-content: center;
    border: 0.8px solid;
    background-color: var(--log-background);
    margin-top: 2rem;
    align-items: center;
}

.login-heading {
    font-size: 2rem;
    font-weight: 800;
}

 
.input-group-box {
    margin: 1rem;
}

.input-simple{
    height: 1.8rem;
    width: 15rem;
}

.input-label {
    font-weight: var(--bold-text);
}

.login-text {
    padding: 2rem;
    font-weight: var(--semi-bold-text);
}

.login-text a {
    color: var(--white-color);
   
}

.login-button{
    width: 70%;
    margin-top: 2rem;
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--secondary-color);
    cursor: pointer;
    border-radius: var(--default-color);
}

.login-button a{
    color: var(--default-color);
}


.mandatory {
    color: var(--color-red);
}

.log-btn-link:hover {
    background-color: var(--active-border) ;
    padding: 0.6rem;
border-radius: 1rem;
}
