.cart-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    margin-left: 4rem;
}

.cart-container-box {
    display: flex;
}

.cart-heading {
    margin: 3rem;
    font-size: 2rem;
    font-weight: var(--extra-bold-text);
    text-align: center;
}

.cart-pricing{
    margin-left: 22rem;
    width: 20rem;
    background-color: var(--log-background);
    padding: 2rem;
    height: max-content;
}

.cart-add-wishlist {
    position: absolute;
    top: 0px;
    left: -1px;
    background-color: var(--color-white);
    color: var(--active-border);
    font-weight: var(--md-text);
    font-size: 1.2rem;
    padding: .3rem .5rem;
    margin-left: 0.1rem;
    transition: all .2s ease-in-out;
    border-radius: var( --border-rd-circle);
}

.cart-add-wishlist:hover {
    background-color: var(--active-border);
    color: var(--color-white);
}

.price-list{
    border-bottom: 2px solid var(--default-color);
}
.price-heading{
    border-bottom: 2px solid var(--default-color);
    font-size: 1.5rem;
    font-weight: 600;
}

.price-component{
    margin: 1rem 0px;
    font-size: 1.2rem;
    font-weight: 500;  
}

.price-value{
    float: right;
}

.price-total{
    margin: 1rem 0px;
    font-size: 1.5rem;
    font-weight: 600;
}


.cart-btn{
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--log-background);
    font-weight: 600;
    font-size: 1rem;
}

.quantity-number{
    border: 2px solid var(--default-color);
    border-radius: 8px;
    padding: 3px 8px;
    margin: 0 1rem;
}

.quantity-box {
    padding: 1rem;
}

.quantity {
   
    padding: 0 7px;
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--default-color);
}

.text-bold{
    font-weight: var(--semi-bold-text);
}

.cart-remove-card {
    position: absolute;
    top: 0px;
    right: -1px;
    background-color: var(--color-white);
    color: var(--default-color);
    font-weight: var(--extra-bold-text);
    font-size: 1.2rem;
    padding: .3rem .5rem;
    margin-right: 0.1rem;
    transition: all .2s ease-in-out;
    border-radius: var( --border-rd-circle);
}

.cart-remove-card:hover {
    background-color: var(--default-color);
    color: var(--color-white);
}

.btn-move-wishlist {
    border-radius: 4px;
    min-width: fit-content;
}
